/* General Styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --light-grey: #f5f5f5; 
    --swiper-navigation-color: #ffffff;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

a {
    color: #111;
}

button {
    border: none;
    background: #111;
    padding: 10px 25px;
    border-radius: 20px;
}

button a {
    color: #ffffff;
    font-size: 16px;
}

/* Nav top*/

.nav__top-container {
    width: 100%;
    height: 36px;
    max-width: 1920px;
    max-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 38px 0 45px;
}

.nav__top-logos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.nav__top-logos img:nth-child(1) {
    width: 19px;
    height: 19px;
    margin-left: 5px;
}

.nav__top-logos img:nth-child(2) {
    width: 31px;
    height: 31px;
}

.nav__top-menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: -10px;
}

.nav__top-menu ul li:not(.nav__top-menu ul li span) {
    margin-right: 14px;
    margin-top: -2px;
}

.nav__top-menu ul li a {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.1px;
    color: #111;
    -webkit-font-smoothing: antialiased;
}

.nav__top-menu ul li a:not(.nav__top-menu ul li a span):hover {
    color: gray;
}

.nav__top-menu ul li a span {
    margin-left: 1px;
    margin-right: 1px;
    font-size: 14px;
}

.nav__top-menu ul .help-menu-wrapper {
    display: none;
    padding: 4px;
    border-radius: 0 0 10px 10px;
    background: #ffffff;
    width: 250px;
    height: 370px;
    position: absolute;
    top: 26px;
    left: 71%;
    z-index: 21;
}

.nav__top-menu ul .help-menu-wrapper:hover {
    display: block;
    top: 26px;
}

.nav__top-menu ul .help:hover + .help-menu-wrapper{
    display: block;
    top: 26px;
}

.nav__top-menu ul .help-menu-wrapper .help-menu .help-menu-title {
    font-size: 17px;
    font-weight: 400;
    margin: 30px 0 20px 20px;
    color: #111;
}

.nav__top-menu ul .help-menu-wrapper .help-menu .help-menu-links {
    margin-left: 20px;
}

.nav__top-menu ul .help-menu-wrapper .help-menu .help-menu-links li {
    margin-bottom: 10px;
}

.nav__top-menu ul .help-menu-wrapper .help-menu .help-menu-links li a {
    font-size: 15px;
    color: gray;
    letter-spacing: 0.2px;
}

.nav__top-menu ul .help-menu-wrapper .help-menu  .help-menu-links li a:hover {
    color: #111;
}

.help-top-hide {
    width: 250px;
    height: 10px;
    background: #f5f5f5;
    z-index: 11;
    position: absolute;
    top: 0;
    left: 0;
    
}

/* Nav Middle */

.nav__middle-container {
    width: 100%;
    height: 60px;
    max-width: 1920px;
    max-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 38px 0 45px;
    background-color: #ffffff;
}

.nav__middle-logo {
    width: 59px;
    height: 59px;
    margin-right: 400px;
}

.nav__middle-container .nav__middle-categories ul {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    gap: 22px;
    margin-left: -230px;
}

.nav__middle-container .nav__middle-categories ul li a {
    color: #111;
    font-size: 16.5px;
    font-weight: 400;
    z-index: 20;
    
}

.nav__middle-container .nav__middle-categories ul li a:hover {
    border-bottom: 1.8px solid #111;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    margin: -10px;
}

.nav__middle-right {
    display: flex;
    margin-right: -120px;
    margin-left: -20px;
}

.nav__middle-searchbar input{
    border: none;
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background: #f5f5f5;
    display: flex;
    align-items: center;
    margin-top: -35px;
    margin-right: 100px;
    margin-left: 10px;
    padding-left: 50px;
    padding-top: 2px;
    caret-color: transparent;
    transition: all 0.3s ease;
    overflow: clip;

}

.nav__middle-searchbar input[type=text]:focus {
    outline: none;
    border: none;
    caret-color: auto;
}

.nav__middle-searchbar input:hover {
    background: rgb(230, 230, 230);
}


.nav__middle-searchbar input:hover::placeholder {
    color: rgb(113, 113, 113);
}

.nav__middle-searchbar input::placeholder {
    font-size: 15.7px;
    padding: 2px;
    color: rgb(210, 210, 210);
}



#search-button {
    background: none;
    outline: none;
    border: none;
    border-radius: 50%;
    position: relative;
    top: 3px;
    right: -12px;
    z-index: 12;
    padding: 7.2px 10px;
    transition: all 0.3s ease;
}

#search-button:hover {
    background: rgb(230, 230, 230);
}

.nav__middle-searchbar input:hover #search-button {
    background: rgb(230, 230, 230);
}

#search-icon {
    font-size: 19px;
}

#shopping-cart {
    margin-bottom: -50px;
    margin-right: 120px;
    margin-left: -72px;
    transition: all 0.3s ease;
    padding: 19px 12px 10px 11px;
    border-radius: 50%;
}

#shopping-cart i {
    margin-top: 10px;
    font-size: 24px;
}

#shopping-cart:hover {
    background: #e5e5e5;
}
/* Expanded Sections */

.featured:hover + .li-1-expanded {
    display: flex;
}

.li-1-expanded {
    position: absolute;
    z-index: 15; 
    left: 0;
    top: 93px;
    background: #ffffff;
    width: 100%;
    height: 477px;
    display: none;
    justify-content: center;
    transition: all 0.3s ease;
}

.li-1-expanded:hover {
    display: flex;
}

.li-1-content {
    display: flex;
    padding-top: 50px;
    gap: 20px;
    
}

.row-1 {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.row-2{
    margin-right: 100px;
}

.row-3 {
    margin-right: 60px;
}


.row-3 .section-1, .row-3 .section-2 {
    margin-bottom: 30px;
} 

.section-content {
    display: flex;
    flex-direction: column;
}

.section-title {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 14px;
    color: #111111;
}

.section-content a{
    font-size: 15px;
    color: #757575;
    letter-spacing: 0.2px;
    margin: 0 0 6px;
}

.section-content a:hover {
    color: #111111;
}

.men:hover + .li-2-expanded {
    display: flex;
}

.li-2-expanded {
    position: fixed;
    z-index: 15; 
    left: 0;
    top: 93px;
    background: #ffffff;
    width: 100%;
    height: 503px;
    display: none;
    justify-content: center;
}

.li-2-expanded:hover {
    display: flex;
}

.li-2-content {
    display: flex;
    padding-top: 50px;
    gap: 20px;
}

.women:hover + .li-3-expanded {
    display: flex;
}

.li-3-expanded {
    position: absolute;
    z-index: 15; 
    left: 0;
    top: 93px;
    background: #ffffff;
    width: 100%;
    height: 503px;
    display: none;
    justify-content: center;
}

.li-3-expanded:hover {
    display: flex;
}

.li-3-content {
    display: flex;
    padding-top: 50px;
    gap: 20px;
}

.kids:hover + .li-4-expanded {
    display: flex;
}

.li-4-expanded {
    position: absolute;
    z-index: 15; 
    left: 0;
    top: 93px;
    background: #ffffff;
    width: 100%;
    height: 578px;
    display: none;
    justify-content: center;
}

.li-4-expanded:hover {
    display: flex;
}

.li-4-content {
    display: flex;
    padding-top: 50px;
    gap: 20px;
}

.li-4-content .row-2 {
    margin-right: 15px;
}

.li-4-content .row-2 .section-1 {
    margin-bottom: 30px;
}


.accessories:hover + .li-5-expanded {
    display: flex;
}

.li-5-expanded {
    position: absolute;
    z-index: 15; 
    left: 0;
    top: 93px;
    background: #ffffff;
    width: 100%;
    height: 393px;
    display: none;
    justify-content: center;
}

.li-5-expanded:hover {
    display: flex;
}

.li-5-content {
    display: flex;
    padding-top: 50px;
    gap: 20px;
}

.li-5-content .row-2 {
    margin-right: 15px;
}

.sale:hover + .li-6-expanded {
    display: flex;
}

.li-6-expanded {
    position: absolute;
    z-index: 15; 
    left: 0;
    top: 93px;
    background: #ffffff;
    width: 100%;
    height: 347px;
    display: none;
    justify-content: center;
}

.li-6-expanded:hover {
    display: flex;
}

.li-6-content {
    display: flex;
    padding-top: 50px;
    gap: 20px;
}

/* Nav Bottom Slider */
.nav__bottom-container {
    height: 58px;
    background: #f5f5f5;
    align-items: center;
    justify-content: center;
}

.slider {
    width: auto;
    position: relative;
    margin: auto;
    height: 58px;
    overflow: hidden;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    10% {
        transform: translateX(0);
        transform: translateX(-400px);
    }
    15% {
        transform: translateX(0);
        transform: translateX(-400px);
    }
    18% {
        transform: translateX(-790px);
    }

    35% {
        transform: translateX(0);
        transform: translateX(-2580px);
    }
    40% {
        transform: translateX(0);
        transform: translateX(-2580px);
    }
    43% {
        transform: translateX(-2900px);
    }

    55% {
        transform: translateX(0);
        transform: translateX(-4750px);
    }
    60% {
        transform: translateX(0);
        transform: translateX(-4750px);
    }
    63% {
        transform: translateX(-5080px);
    }

    75% {
        transform: translateX(0);
        transform: translateX(-7035px);
    }
    80% {
        transform: translateX(0);
        transform: translateX(-7035px);
    }
    83% {
        transform: translateX(-7365px);
    }

    92% {
        transform: translateX(-8000px);
    }

    100% {
        transform: translateX(600px);
    }
}

.slider .slide-track {
    animation: scroll 60s linear infinite;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 8000px;
    overflow: hidden;
}

.slide {
    text-align: center;
    padding-left: 300px;
    margin-top: 13px;
    margin-left: 710px;
}

.slide h4 {
    font-size: 16px;
    font-weight: 400;
    color: #111;
}

.slide p {
    font-size: 12px;
    margin-top: 4px;
    text-decoration: underline;
}

.slide a {
    color: #111;
}

.slide .last {
    text-decoration: none;
}

.slide span {
    text-decoration: underline;
}

/* Hero Section */
.hero-content {
    position: absolute;
    top: 200px;
    left: 50px;
}

.hero-content h1 {
    font-family: 'Anton', sans-serif;
    color: #ffffff;
    font-size: 62px;
    letter-spacing: 2px;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: -10px;
    margin-bottom: 10px;
}

.hero-content span {
    color: #ffffff;
}

.hero-content .desc {
    line-height: 22px;
}

.hero-content button {
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    background: #ffffff;
    font-size: 16px;
    color: #111;
    margin-top: 30px;
}

.hero-content button a {
    color: #111;
}

.hero-container .hero-1 {
    height: 316px;
    width: 1519.2px;
}

/* Back to school Section */

.bts-container .bts-img {
    height:  527.6816202531px;
    width: 1519.2px;
    padding-top: 45px;
}

.bts-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bts-content h1 {
    font-family: 'Anton', sans-serif;
    font-size: 64px;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 67px;
    text-align: center;
    margin-top: 40px;
}

.bts-content p {
    text-align: center;
    margin-top: 25px;
}

.bts-content button {
    border: none;
    background: #111;
    padding: 10px 25px;
    border-radius: 20px;
    margin-top: 10px;
}

.bts-content button:hover {
    background: rgba(17, 17, 17, 0.6);
}

.bts-content button a {
    color: #ffffff;
    font-size: 16px;
}

.bts-category-images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 100px;
}

.bts-category-images img {
    width: 467px;
    height: 311px;
}

/* Trending Section */

.trending-container {
    margin-top: 80px;
}

.trending-container h2 {
    margin-bottom: 40px;
    margin-left: 45px;
    font-size: 24px;
    font-weight: 400;
    color: #111;
}

.trending-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.trending-card img {
    width: 467px;
    height: 467px;
}

.trending-card h3 {
    color: #111;
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
}

/* Featured Section */

.featured-container {
    margin-top: 120px;
}

.featured-container h2 {
    margin-bottom: 30px;
    margin-left: 45px;
    font-size: 24px;
    font-weight: 400;
    color: #111;
}

.featured-content {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 45px;
}

.featured-content img {
    width: 705px;
    height: 529px;
}

.featured-left-text, .featured-right-text {
    position: relative;
    z-index: 12;
    top: -200px;
    left: 45px;
}

.featured-left-text h5 {
    font-size: 16px;
    font-weight: 400;
}

.featured-left-text h3 {
    font-size: 24px;
    font-weight: 400;
    color: #111;
    margin-bottom: 15px;
    margin-top: 5px;
}

.featured-content .featured-left button {
    border: none;
    background: #111;
    padding: 10px 25px;
    border-radius: 20px;
    margin-top: 10px;
}

.featured-content .featured-left button:hover {
    background: rgba(17, 17, 17, 0.6);
}

.featured-content .featured-left button a {
    color: #ffffff;
    font-size: 16px;
}

.featured-right-text h5 {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.featured-right-text h3 {
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 15px;
    margin-top: 5px;
}

.featured-content .featured-right button {
    border: none;
    background: #fff;
    padding: 10px 25px;
    border-radius: 20px;
    margin-top: 10px;
}

.featured-content .featured-right button:hover {
    background: rgba(255, 255, 255, 0.6);
}

.featured-content .featured-right button a {
    color: #111;
    font-size: 16px;
}

/* iconic section */
.iconic-container {
    margin-top: -70px;
}

.iconic-container h2 {
    margin-bottom: 30px;
    margin-left: 45px;
    font-size: 24px;
    font-weight: 400;
    color: #111;
}

.swiper .swiper-slide {
    margin-right: 5px;
}

.swiper .swiper-slide a:hover + .slide-info {
    visibility: visible;
}

.swiper .swiper-slide .slide-info:hover {
    visibility: visible;
}

.swiper .swiper-slide img {
    height: 300px;
    width: 300px;
    user-select: none;
    -webkit-user-drag: none;
}

.swiper .swiper-slide .slide-info {
    visibility: hidden;
}

.swiper .swiper-slide .slide-info h4 {
    position: relative;
    top: -255px;
    left: 66.5%;
    z-index: 15;
    font-size: 15px;
    color: #ffffff;
    text-align: center;
    padding: 8px;
    background: rgba(117, 117, 117, 0.5);
    width: 55px;
    border-radius: 20px;
}

.swiper .swiper-slide .slide-info a {
    color: gray;
    position: relative;
    top: -25px;
    left: 10px;
}

.swiper-slide .slide-info a h5 {
    font-size: 16.5px;
    font-weight: 400;
}

.swiper-1-button-prev .swiper-1-button-next {
    color: var(--swiper-navigation-color,var(--swiper-theme-color));
}

.swiper [class^="swiper-button-"]::after{
    font-size: 13px;
    font-weight: 900;
    background: #111111;
    padding: 12px 15px 12px 16px;
    border-radius: 50%;
}

.swiper .swiper-1-button-next{
    right: 115px;
    top: 150px;
}
.swiper .swiper-1-button-prev{
    left: 115px;
    top: 150px;
}

/* Sport Section */
.sport-container {
    margin-top: 80px;
}

.swiper-2 {
    margin-left: 45px;
}

.sport-container h2 {
    margin-bottom: 30px;
    margin-left: 45px;
    font-size: 24px;
    font-weight: 400;
    color: #111;
}

.swiper-2 .swiper-wrapper {
    display: flex;
    align-items: center;
}

.swiper-2 .swiper-slide {
    margin-right: -12px;
}

.swiper-2 .swiper-slide img {
    height: 315px;
    width: 467px;
    user-select: none;
    -webkit-user-drag: none;
}

.swiper-2 .slide-info h4 {
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #111;
}

.swiper-2 .slide-info h5 {
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 30px;
    color: #000;
} 

.swiper-2 .slide-info span {
    text-decoration: underline;
}

#button-left, #button-right {
    color: var(--swiper-navigation-color,var(--swiper-theme-color));
}


#button-left {
    position: relative;
    color: #111;
    top: -477px;
    left: 90%;
}

#button-right {
    position: relative;
    color: #111;
    font-size: 15px;
    top: -500px;
    left: 94%;
}

#button-right::after, #button-left::after{
    font-size: 16px;
    font-weight: 600;
    background: #e5e5e5;
    padding: 15px 19px 15px 20px;
    border-radius: 50%;
}

#button-right:focus::after, #button-left:focus::after {
    border: 2px solid #004F98;
}

.swiper-button-disabled:focus::after {
    border: none;
}

#swiper-bar-sport {
    position: relative;
    top: 40px;
    height: 7px;
    cursor: pointer;
    background: none;
    margin-left: 30px;
}

/* Footwear Section */

.footwear-container {
    margin-bottom: 200px;
    margin-top: 100px;
}

.swiper-3 {
    margin-left: 45px;
}

.footwear-container h2 {
    margin-bottom: 30px;
    margin-left: 45px;
    font-size: 24px;
    font-weight: 400;
    color: #111;
}

.swiper-3 .swiper-wrapper {
    display: flex;
    align-items: center;
}

.swiper-3 .swiper-slide {
    margin-right: -12px;
}

.swiper-3 .swiper-slide img {
    height: 467px;
    width: 467px;
    user-select: none;
    -webkit-user-drag: none;
}

.swiper-3 .slide-info h4 {
    font-size: 16px;
    font-weight: 400;
    margin-top: 7px;
    margin-bottom: 7px;
    color: #111;
}

.swiper-3 .slide-info h5 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
    color: #757575;
} 

#button-left-2, #button-right-2 {
    color: var(--swiper-navigation-color,var(--swiper-theme-color));
}


#button-left-2 {
    position: relative;
    color: #111;
    top: -603px;
    left: 90%;
}

#button-right-2 {
    position: relative;
    color: #111;
    font-size: 15px;
    top: -625px;
    left: 94%;
}

#button-right-2::after, #button-left-2::after{
    font-size: 16px;
    font-weight: 600;
    background: #e5e5e5;
    padding: 15px 19px 15px 20px;
    border-radius: 50%;
}

#swiper-bar-footwear {
    position: relative;
    top: 40px;
    height: 7px;
    cursor: pointer;
    background: none;
    margin-left: 30px;
}

#button-right-2:focus::after, #button-left-2:focus::after {
    border: 2px solid #004F98;
}

/* Membership Section */

.membership-container h2 {
    margin-bottom: 30px;
    margin-left: 45px;
    font-size: 24px;
    font-weight: 400;
    color: #111;
}

.membership-container .main-img {
    height: 317px;
    width: 1423px;
    margin-left: 45px;
}

.membership-main-content {
    position: relative;
    top: -280px;
    left: 90px;
}

.membership-main-content h1 {
    font-family: 'Anton', sans-serif;
    color: #ffffff;
    font-size: 60px;
    letter-spacing: 2px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 25px;
    line-height: 65px;
}

.membership-main-content span {
    color: #ffffff;
}

.membership-main-content button {
    border: none;
    background: #fff;
    padding: 10px 21px;
    border-radius: 20px;
    margin-top: 30px;
    margin-right: 5px;
}

.membership-main-content button:hover {
    background: rgba(255, 255, 255, 0.6);
}

.membership-main-content button a {
    color: #111;
}

.membership-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: -220px;
}

.membership-content img {
    width: 467px;
    height: 560px;
}

.membership-text {
    position: relative;
    top: -100px;
}

.membership-text span {
    margin-left: 45px;
    margin-bottom: 5px;
}

/* Merch Section */
.merch-container {
    margin-top: 30px;
    margin-bottom: 50px;
}

.merch-container .shown-content, .merch-container .hidden-content {
    display: flex;
    justify-content: center;
    gap: 170px;
}

.merch-container h4 {
    font-size: 17px;
    color: #111;
    font-weight: 400;
    margin-bottom: 24px;
}

.merch-container a {
    font-size: 16px;
    font-weight: 400;
    color: #757575;
    margin-bottom: 15px;
    z-index: 12;
}

.merch-container a:hover {
    color: #111;
}

.merch-container .shown-content .merch-category, .merch-container .hidden-content .merch-category {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.merch-container .hidden-content .merch-category:first-child {
    position: relative;
    top: -103px;
    left: -15px;
}

.merch-container .hidden-content .merch-category:nth-child(2) {
    position: relative;
    top: -85px;
    left: -7px;
}

.merch-container .hidden-content .merch-category:nth-child(3) {
    position: relative;
    top: 0px;
    left: 10px;
}

.merch-container .hidden-content .merch-category:last-child {
    position: relative;
    top: -85px;
    left: -8px;
}

.merch-container .hidden-content {
    display: none;
}

.merch-container .shown-content:hover + .hidden-content {
    display: flex;
}

.hidden-content:hover {
    display: flex;
}

/* Footer Section */

footer {
    height: 389px;
    background: #111;
    margin-bottom: -20px;
}

footer .cols {
    display: flex;
    gap: 160px;
    margin-left: 80px;
    padding-top: 40px;
}

footer .cols .col-1 h4 {
    margin-bottom: 16px;
}

footer .cols .col-2 h4, footer .cols .col-3 h4, footer .cols .col-2 p, footer .cols .col-3 p {
    margin-bottom: 14px;
}

footer h4 {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 13px;
    color: #ffffff;
    cursor: pointer;
}

footer p {
    cursor: pointer;
    font-size: 12px;
    color: #7e7e7e;
}

footer p:hover {
    color: #fff;
}

footer .social-icons {
    position: relative;
    left: 1280px;
    top: -230px;
}

footer .social-icons i {
    padding: 6px;
    background: #7e7e7e;
    border-radius: 50%;
    margin-right: 10px;
}

footer .social-icons i:hover {
    background: #ffffff;
}

footer .social-icons i:nth-child(2) {
    padding: 7px 10.5px 7px 9.5px;
}

footer .social-icons i:nth-child(3) {
    padding: 8px 7px;
    font-size: 14px;
}

footer .social-icons i:nth-child(4) {
    padding: 6px 8px 7px 8px;
}

footer .footer-bottom-copyright {
    display: flex;
    margin-left: 80px;
    margin-top: 50px;
}

footer .footer-bottom-copyright i {
    font-size: 14px;
    margin-right: 10px;
}

footer .footer-bottom-copyright h5 {
    font-size: 12px;
    font-weight: 400;
    color: #ffffff;
    margin-right: 20px;
}


footer .policies {
    display: flex;
    position: relative;
    left: 900px;
    top: -50px;
    gap: 30px;
}

.privacy-policy {
    display: flex;
    gap: 10px;
}

.supply-chain {
    position: relative;
    top: -20px;
    left: 1325px;
}

.footer-cover {
    background: #111;
    width: 2000px;
    height: 30px;
}